@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Google Sans', sans-serif;

    display: flex;
}

.image-section {
    background-image: url(images/background-image.avif);

    flex: 2.5;
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    margin-top: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.odin-logo {
    height: 90%;
}

.logo-text {
    color: white;
    font-size: 64px;
    font-weight: 800;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

.login-section {
    padding: 24px;
    font-size: 1.3rem;

    flex: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

h1 {
    color: #282828;
    font-size: 3rem;
}

.signup-form {
    width: 100%;

    border-radius: 8px;
    padding: 2rem;

    box-shadow: rgba(0, 0, 0, 0.2) 5px 20px 50px;
}

.form-row {
    display: flex;
    gap: 3rem;

    padding-right: 25%;
    margin-bottom: 1.5rem;
}

.form-input {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: start;
}

.form-input>label {
    color: #282828;
}

.form-input>input {
    width: 80%;
    padding: .4rem 1rem;

    border: #ccc 2px solid;
    border-radius: 4px;
}

.form-input>input:focus {
    border: #777 2px solid;
    outline: none;
}

.form-input>input:user-invalid {
    border: #ff5959 2px solid;
    outline: none;
}

.form-submit {
    background-color: #3089bd;
    color: white;

    border: none;
    border-radius: 12px;

    box-shadow: rgba(0, 0, 0, 0.3) 5px 10px 15px;

    padding: 1rem 2.5rem;

    font-family: 'Google Sans';
    font-size: 1rem;
    font-weight: 600;
}

.form-submit:hover {
    cursor: pointer;
}